@import url('file:///home/andre/.cache/wal/colors-waybar.css');

@define-color accent #a68866;
@define-color accent-alt #5d2e10;
@define-color fg #3d2f20;
@define-color bg #f5efe5;
@define-color bg-alt #bab3a7;

* {
    all: initial;
    font-weight: normal;
    /* min-width: 16px; */
    font-size: 11pt;
    font-family: "GoMono Nerd Font";
    min-height: 0;
    color: @fg;
}

window#waybar {
    background-color: @bg;
    border: 4px solid @fg;
}

#custom-separator {
    color: @bg-alt
}

#mode {
    font-weight: bold;
    color: @accent;
}

#pulseaudio,
#memory,
#cpu {
    color: @fg;
}

button {
    min-height: 24px;
}

#workspaces {
    border: 4px solid @fg;
    border-right: none;
    border-left: none;
    margin-left: 20px;
    /* border: none; */
}

#workspaces button {
    padding: 8px 4px 8px 4px;
    color: @fg;
    min-width: 0;
    background-color: @bg;
    /* border: none; */
}

#workspaces button:hover {
    background: none;
    /* border: none; */
    /* border-color: transparent; */
    transition: none;
}

#workspaces button.focused {
    /* border-radius: 0; */
    background: @accent;
}

#workspaces button.focused label {
    color: @bg;
}

#mpris {
    color: @fg;
    font-size: 12pt;
}

#clock {
    color: @fg;
    margin-right: 20px;
}
